# Stažení dat

In [6]:
import requests

r = requests.get("https://raw.githubusercontent.com/pesikj/progr2-python/master/data/london_merged.csv")
open("london_merged.csv", 'wb').write(r.content)

r = requests.get("https://raw.githubusercontent.com/pesikj/progr2-python/master/data/titanic.csv")
open("titanic.csv", 'wb').write(r.content)

29055

# Titanic

V souboru [titanic.csv](titanic.csv) najdeš informace o cestujících na zaoceánském parníku Titanic. Vytvoř kontingenční tabulku, která porovná závislost mezi pohlavím cestujícího (soupec `Sex`),
třídou (sloupec `Pclass`), ve které cestoval, a tím, jesti přežil potopení Titanicu (sloupec `Survived`). Pro vyhodnocení použij agregaci `len`. Dále urči relativní počet přeživších pro každou 

## Update 2021-09-23

Původní dataset nebyl příliš kvalitní, takže jsem jej nahradil novým (soubor `titanic.csv`). Pokud máte úkol již hotový
se starým datasetem, tak ho již nepředělávejte :-)

## Rozšířené zadání

*Rozšířená zadání jsou čistě pro dobrovolníky, kteří mají hodně času a hledají větší výzvu :-)*

Z dat vyfiltruj pouze cestující, kteří cestovali v první třídě. Dále použij metodu
[cut](https://pandas.pydata.org/docs/reference/api/pandas.cut.html)
na rozdělení cestujících do věkových skupin (zkus vytvořit např. 4 skupiny, můžeš definovat hranice skupin tak, aby
vznikly skupiny děti, teenageři, dospělí a senioři).
Urči relativní počet přeživších pro jednotlivé kombinace pohlavní a věkové skupiny.

In [5]:
import pandas
df = pandas.read_csv("titanic.csv")
df["age_group"] = pandas.cut(df["Age"], bins=[12, 19, 65])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_group
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,"(19, 65]"
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,"(19, 65]"
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,"(19, 65]"
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,"(19, 65]"
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,"(19, 65]"

# Půjčování kol

V souboru [london_merged.csv](london_merged.csv) najdeš informace o počtu vypůjčení jízdních kol
v Londýně.

1. Vytvoř sloupec, do kterého z časové značky (sloupec `timestamp`) ulož rok.
2. Vytvoř kontingenční tabulku, která porovná kód počasí (sloupec `weather_code` se sloupcem udávající
rok.

Definice jednotlivých kódů jsou:

- 1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity
- 2 = scattered clouds / few clouds
- 3 = Broken clouds
- 4 = Cloudy
- 7 = Rain/ light Rain shower/ Light rain
- 10 = rain with thunderstorm
- 26 = snowfall
- 94 = Freezing Fog



## Rozšířené zadání

*Rozšířená zadání jsou čistě pro dobrovolníky, kteří mají hodně času a hledají větší výzvu :-)*

Jako hodnoty v kontingenční tabulce zobraz relativní počty jízd pro jednotlivé kódy počasí v jednom roce.
Příklad možného výsledku by byl: v roce 2020 proběhlo 40 % jízd za počasí s kódem 1, 20 % jízd za počasí s kódem 2
a 40 % jízd za počasí s kódem 3 atd. Postup, jak na to, najdeš v [v lekci](../lekce.ipynb)
v části označené jako "Čtení na doma".