# Lekce 1

V této lekci projdeme následující témata:
- opakování dotazů, agregací,
- `iloc`,
- vizualizace složené z více sérií

Ke zpracování dat využijeme moduly  `pandas` a ke tvorbě vizualizací modul `matplotlib` a jeho nadstavbu `seaborn`.

V rámci lekce budeme využívat následující datové soubory:
- [inventory_data.csv](inventory_data.csv)

## Načtení dat

In [3]:
import pandas

data = pandas.read_csv("inventory_data.csv")

         date product_code  quantity_change  quantity_stock
0  2022-01-03       A35-AC               64              64
1  2022-01-03       A35-AC               -7              57
2  2022-01-04       A35-AC               -5              52
3  2022-01-05       A35-AC               -4              48
4  2022-01-06       A35-AC               -3              45

## Head a iloc

In [4]:
data.head()

         date product_code  quantity_change  quantity_stock
0  2022-01-03       A35-AC               64              64
1  2022-01-03       A35-AC               -7              57
2  2022-01-04       A35-AC               -5              52
3  2022-01-05       A35-AC               -4              48
4  2022-01-06       A35-AC               -3              45

In [5]:
data.iloc[:5]

         date product_code  quantity_change  quantity_stock
0  2022-01-03       A35-AC               64              64
1  2022-01-03       A35-AC               -7              57
2  2022-01-04       A35-AC               -5              52
3  2022-01-05       A35-AC               -4              48
4  2022-01-06       A35-AC               -3              45

In [6]:
data.iloc[5:10]

         date product_code  quantity_change  quantity_stock
5  2022-01-07       A35-AC               -4              41
6  2022-01-10       A35-AC               -4              37
7  2022-01-11       A35-AC               -2              35
8  2022-01-12       A35-AC               -4              31
9  2022-01-13       A35-AC               -7              24

In [8]:
data["date"] = pandas.to_datetime(data["date"])
data["month"] = data["date"].dt.month
data_grouped = data.groupby(["month", "quantity_stock"])